include ../blocks/_

doctype html
html.html.html--product(lang="en")
    +head
    
    body 
        .app
            .app__header
                .app__column
                    +header

            .app__cart
                +cart

            .app__heading
                .app__column
                    h1.heading Issue 3. <br />Warsaw

            .app__carousel
                .carousel
                    .carousel__wrapper
                        .carousel__content
                            .carousel__image: div: img(src="products/issue-3-warsaw/1.jpg" width="845" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/3.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/5.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/6.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/9.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/10.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/12.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/15.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-3-warsaw/25.jpg" width="1691" height="1200")

            .app__actions
                .app__column
                    +actions

            .app__text
                .app__column
                    .text
                        p In January, I was invited to speak at the Google for Startups platform in Warsaw. I presented my side-projects from the last ten years, which you can read about <a href="https://cherenkevich.com" target="_blank">on my website</a>.
                        p The presentation was not the main purpose of the trip, because any trip to Warsaw for me is an opportunity to meet my dear belarusian friends, make new acquaintances and take new photos.
                        p Also Danka and I were invited to attend a replay of the Śpievy choir - a side project of Rusia from Šuma. After that we canceled our tickets to Prague and stayed in Warsaw for a few more days to attend the Varušniak party. Varušniak is a concert and techno rave made by belarusian musicians and promoters. Highly recommended!
                        p Usually at the end of any issue I list my favorite places in the city. This time I want to dedicate not just one spread, but the whole zine to bars and restaurants in Warsaw, which were opened by my friends from Belarus.

            .app__text
                .app__column
                    .text
                        p: a.larr(href="/") Back to all the issues

            .app__footer
                .app__column
                    +footer

        +foot