include ../blocks/_

doctype html
html.html.html--product(lang="en")
    +head
    
    body 
        .app
            .app__header
                .app__column
                    +header

            .app__cart
                +cart

            .app__heading
                .app__column
                    h1.heading Issue 1. <br />Berlin. A One Day Trip

            .app__carousel
                .carousel
                    .carousel__wrapper
                        .carousel__content
                            .carousel__image: div: img(src="products/issue-1-berlin/1.jpg" width="845" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/3.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/4.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/9.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/17.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/21.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-1-berlin/23.jpg" width="1691" height="1200")

            .app__actions
                .app__column
                    +actions

            .app__text
                .app__column
                    .text
                        p A one day journey. Selected photos. Acquired records. Favourite places.
                        

            .app__text
                .app__column
                    .text
                        p: a.larr(href="/") Back to all the issues

            .app__footer
                .app__column
                    +footer

        +foot