include ../blocks/_

doctype html
html.html.html--product(lang="en")
    +head
    
    body 
        .app
            .app__header
                .app__column
                    +header

            .app__cart
                +cart

            .app__heading
                .app__column
                    h1.heading Issue 4. <br />Paris. The City

            .app__carousel
                .carousel
                    .carousel__wrapper
                        .carousel__content
                            .carousel__image: div: img(src="products/issue-4-paris/1.jpg" width="845" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/12.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/4.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/6.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/9.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/18.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/19.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-4-paris/23.jpg" width="1691" height="1200")

            .app__actions
                .app__column
                    +actions

            .app__text
                .app__column
                    .text
                        p I have already done an issue about Paris in February. It was dedicated to street photography and local people. In this issue I want to tell about the city itself. 
                        p Last time I was in Paris in 2013. And since then, it’s like I’ve been preparing for the next trip. I have been into the Impressionists, Marc Chagall, Chaim Soutine, the French New Wave. But the trip was short and I didn’t have time to dedicate it to my icons. Instead I just walked around the city, filmed a lot and was hanging out in record stores. 
                        p I would like to have a couple more photos in this issue — with a view of the Barbès—Rochechouart bridge, which I passed one night. But then I preferred to hold the camera to myself and walk as quickly as possible past the burning barrels while the local guys shouted me “Le pigeon! Le pigeon!”.

            .app__text
                .app__column
                    .text
                        p: a.larr(href="/") Back to all the issues

            .app__footer
                .app__column
                    +footer

        +foot