include ../blocks/_

doctype html
html.html.html--product(lang="en")
    +head
    
    body 
        .app
            .app__header
                .app__column
                    +header

            .app__cart
                +cart

            .app__heading
                .app__column
                    h1.heading Issue 5. <br />Berlin

            .app__carousel
                .carousel
                    .carousel__wrapper
                        .carousel__content
                            .carousel__image: div: img(src="products/issue-6-rome/1.jpg" width="845" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/2.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/3.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/9.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/10.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/14.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/19.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/20.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-6-rome/24.jpg" width="1691" height="1200")

            .app__actions
                .app__column
                    +actions

            .app__text
                .app__column
                    .text
                        p I wanted to have one foot in the sea and the other in civilization. So Fiumicino seemed like the perfect spot to stay—until I realized getting to Rome from there without a 60-euro taxi was nearly impossible. In the end, we spent as much on rides between the city and the coast as we could have on a flight to another warm country...
                        p But inspiration is priceless. One evening in Rome, I found a restaurant with a wall full of black-and-white street photos. That’s when it clicked: if I were ever to make a black-and-white zine, this was the place for it. Rome’s character isn’t in its colors but in its light and shadows, in the way the city moves and breathes. So here it is—my Rome, raw and timeless, captured in black and white.

            .app__text
                .app__column
                    .text
                        p: a.larr(href="/") Back to all the issues

            .app__footer
                .app__column
                    +footer

        +foot