include ../blocks/_

doctype html
html.html.html--product(lang="en")
    +head
    
    body 
        .app
            .app__header
                .app__column
                    +header

            .app__cart
                +cart

            .app__heading
                .app__column
                    h1.heading Issue 2. <br />Paris. The Humans

            .app__carousel
                .carousel
                    .carousel__wrapper
                        .carousel__content
                            .carousel__image: div: img(src="products/issue-2-paris/1.jpg" width="845" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/7.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/4.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/6.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/9.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/15.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/18.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/19.jpg" width="1691" height="1200")
                            .carousel__image: div: img(src="products/issue-2-paris/23.jpg" width="1691" height="1200")

            .app__actions
                .app__column
                    +actions

            .app__text
                .app__column
                    .text
                        p I haven’t been to Paris in over a decade. Every time I tried to go back something went wrong and the trip was canceled. And after the last attempt, there was a pandemic. After that I haven’t been even looking that way for three years. Until I found out that Woody Allen and his New Orleans jazz band were going on a European tour.
                        p To hear Woody Allen play the clarinet was such a pipe dream for me that I was afraid to put it on my wish list. I didn’t even think I’d be in Manhattan with Woody alive and listening to him there. And then Woody came by himself. 
                        p I have to learn to dream boldly. 
                        p Shake That Thing.

            .app__text
                .app__column
                    .text
                        p: a.larr(href="/") Back to all the issues

            .app__footer
                .app__column
                    +footer

        +foot