include actions
include carousel
include cart
include head
include header
include foot
include footer
include slot--cart
include slot--download
include slot--shipping 
include slot--total
include teaser