mixin footer
    footer.footer
        .footer__mail
            a(href="mailto:cherenkevich.com@gmail.com?subject=Magazine") cherenkevich.com@&#8203;gmail.com</a>
        .footer__label for all enquiries