mixin head
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        title Magazine
        meta(name="description" content="Hi! I’m Aleksey — a designer and photographer from Prague. I’m issuing my own magazine. Below you can buy paper and digital copies")

        meta(property="og:url" content="https://magazine.cherenkevich.com")
        meta(property="og:title" content="Magazine")
        meta(property="og:description" content="Hi! I’m Aleksey — a designer and photographer from Prague. I’m issuing my own magazine. Below you can buy paper and digital copies")
        meta(property="og:image" content="https://magazine.cherenkevich.com/assets/images/og.png?1")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property="og:site_name" content="Magazine")
        meta(property="og:type" content="article")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@cherenkevich")
        meta(name="twitter:creator" content="@cherenkevich")
        meta(name="twitter:title" content="Magazine")
        meta(name="twitter:description" content="Hi! I’m Aleksey — a designer and photographer from Prague. I’m issuing my own magazine. Below you can buy paper and digital copies")
        meta(name="twitter:image" content="https://magazine.cherenkevich.com/assets/images/og.png?1")
        meta(name="twitter:url" content="https://magazine.cherenkevich.com")

        meta(name="apple-mobile-web-app-title" content="Magazine")

        link(rel="icon" href="assets/images/favicon.png?1" sizes="any")
        link(rel="icon" href="assets/images/favicon.svg?1" type="image/svg+xml")
        link(rel="apple-touch-icon" href="assets/images/apple-touch-icon.png?1")

        link(href="assets/styles/styles.css?" + new Date().getTime() rel="stylesheet") 
        link(rel="manifest" href="manifest.json?1")