mixin slot--shipping
    .slot
        .slot__left
            .slot__primary Shipping
            .slot__secondary Europe only
        .slot__right
            .slot__primary 
                .price 5 €